.array-container {
    /* position: absolute;
    left: 100px; */
    position: static;
}

.array-bar {
    width: 2px;
    background-color: darkseagreen;
    display: inline-block;
    margin: 0 1px;
}