.array-container {
    /* position: absolute;
    left: 100px; */
    position: static;
    padding-bottom: 5px;
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
    vertical-align: top;
}

#navbar {
    background-color: aquamarine;
    vertical-align: bottom;
}

.container {
    padding: 3px;
}

button {
    background-color: aqua;
    padding: 5px 8px;
    border-radius: 25px;
    display: inline;
}

button:hover {
    background-color: antiquewhite;
}